/* 암묵적으로 float 는 left를 줌 */

.container {
	width: 700px;
}

header {
	background-color: aqua;
	width: 100%;
	height: 50px;
}

main {
	height: 300px;
}
article {
	background-color: skyblue;
	float: left;
	width: 60%;
	height: 100%;
}
.side_1, .side_2 {
	background-color: beige;
	float: left;
	width: 20%;
	height: 100%;
}
footer {
	background-color: greenyellow;
	width: 100%;
	height: 50px;
	clear: both;
}