.a {
	list-style-type: none;
	display: flex;
}
.menu {
	background-color: gray;
	display: inline-block;
	/* margin-right: -6px;  */
	/* widtn : 너비
	height : 높이 
	line-height :
	text-align: center 중앙정렬
	box-sizing: border-box */
	width: 100px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	box-sizing: border-box;
	margin-right: -6px;
}