.con {
	width: 300px;
	background-color: gray;
	height: 300px;
}
.d1, .d2, .d3 {
	box-sizing: border-box;
	width: 300px;
	height: 100px;
}

.d1-1, .d1-2, .d2-1, .d3-1, .d3-2 {
	border: 0px solid #000;
	width: 100px;
	height: 100px;
	background-color: blanchedalmond;
	box-sizing: border-box;
}
.d1-1 {
	float: left;
}
.d1-2 {
	float: right;
}
.d2-1 {
	margin: auto;
	background-color: aquamarine;
}
.d3-1 {
	background-color: aquamarine;
}
.d3-1, .d3-2 {
	float: left;
}
